@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: white;
 
}

body{
    background-color: black;
}
header{

    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header>h1{color: white;
    width: 30px;
}
nav,ul,li{
    
    padding: 5px;
    list-style-type: none;
    display: inline-block;
}
nav,a{
    color: white;
    text-decoration: none;
}

#borda{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid darkmagenta ;
}
article>h2{
    font-size: 3em;
   
    
}
strong{
    color: darkmagenta;
}

input{
    padding: 10px;
    border-radius: 8px;
    
}

#enviar{
    width: 120px;
    background-color: darkmagenta;
}
#p{
    width: 380px;
}
.img{
    background: url(imagens/77d0a7c454e658833800528e748edbe9.png) no-repeat;
    background-size: cover;
    height: 400px;
}

footer{
    text-align: center;
}
@media screen and (max-width:700px) {
    header{
        display: flex;
        flex-flow: column wrap;
    }
}

@media screen and (min-width:750px) {
   section{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   #p{
    width: 500px;
   }
}